@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #f0f4fc, #e2ecf5);
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}

nav button {
  cursor: pointer;
}


h1 {
  font-weight: 700;
  letter-spacing: -1px;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  font-weight: 500;
}

button {
  cursor: pointer;
}